/* Navbar */
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    background-color: white;
    position: sticky;
    box-shadow: 0 2px 0 0 rgba(203, 199, 199, 0.2);
}

.navLinks{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navLinks > li{
    list-style-type: none;
    text-decoration: none;
    margin-right: 10px;
}

.navLinks > li > a{
    text-decoration: none;
    margin-right: 10px;
    color: black;
}

.logo > a > img{
    width: 100px;
    height: 50px;
}